{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block page_heading %}
<header class="page-heading">
    <h1 class="page-heading__title">{{ article.title }}</h1>
</header>
{% endblock %}

{% block main_classes %}main-page{% endblock %}

{% block content %}
<div class="container">
<div class="grid">
<div class="s-12 last">
    <!-- >>>> Start >>>>> PHOTO plugin: article image >>>>>>>>> -->
    {% if article.photo_image %}
      <img src="{{ SITEURL }}/{{ article.photo_image[1] }}" />
    {% endif %}
    <!-- <<<< End <<<<< PHOTO plugin: article image <<<<<<<<< -->

    {{ article.content }}

    <!-- >>>> Start >>>>> PHOTO plugin: article gallery >>>>>>>>> -->
    {% if article.photo_gallery %}
    <div class="gallery">
        {% for title, gallery in article.photo_gallery %}
          <h1>{{ title }}</h1>
            {% for name, photo, thumb, exif, caption in gallery %}
                <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <!-- <<<< End <<<<< PHOTO plugin: article gallery <<<<<<<<< -->

</div>
</div>
</div>
{% endblock %}
