{% extends "page.html" %}

{% block content %}
<div class="container">
<div class="grid">
<div class="s-12 last">

<section class="site-partners">
	<div class="container">
	<div class="grid">
	<div class="s-12 last">
		<h2 class="small site-partners__title">Sponsors</h2>
	</div>
	<div class="s-12 m-6 l-3 last-s">
		<div class="partner-diamond">
			<h2 class="small">Premium Sponsors</h2>
			{% for p in EVENT_PARTNERS['premium'] %}
				{% include 'partials/partner-link.html' %}
			{% endfor %}
			<a href="{{ SITEURL }}/pages/partnership.html" class="partner-link partner-link--become">
				Become a sponsor!
			</a>
		</div>
	</div>
	<div class="s-12 m-6 l-3 last-s last-m">
		<div class="partner-platinum">
			<h2 class="small">Gold Sponsors</h2>
			{% for p in EVENT_PARTNERS['gold'] %}
				{% include 'partials/partner-link.html' %}
			{% endfor %}
			<a href="{{ SITEURL }}/pages/partnership.html" class="partner-link partner-link--become">
				Become a sponsor!
			</a>
		</div>
	</div>
	<div class="s-12 m-6 l-3 last-s">
		<div class="partner-gold">
			<h2 class="small">Silver Sponsors</h2>
			{% for p in EVENT_PARTNERS['silver'] %}
				{% include 'partials/partner-link.html' %}
			{% endfor %}
			<a href="{{ SITEURL }}/pages/partnership.html" class="partner-link partner-link--become">
				Become a sponsor!
			</a>
		</div>
	</div>
	<div class="s-12 m-6 l-3 last">
		<div class="partner-silver">
			<h2 class="small">Bronze Sponsors</h2>
			{% for p in EVENT_PARTNERS['bronze'] %}
				{% include 'partials/partner-link.html' %}
			{% endfor %}
			<a href="{{ SITEURL }}/pages/partnership.html" class="partner-link partner-link--become">
				Become a sponsor!
			</a>
		</div>
	</div>
	<div class="s-12 last">
		<div class="partner-media ">
			<h2 class="small partner-media__title">Partners</h2>
			{% for p in EVENT_PARTNERS['partners'] %}
				<a href="{{ p.1 }}" class="partner-media-link">
					<img src="{{ main_siteurl }}/theme/images/{{ p.2 }}"
						class="partner-media-link__img" alt="{{ p.0 }}" />
				</a>
			{% endfor %}
		</div>
	</div>
	</div>
	</div>
</section>

{{ page.content }}

{% if page.modified %}
	<p>
	Last updated: {{ page.locale_modified }}
	</p>
{% endif %}

</div>
</div>
</div>
{% endblock %}
