{% extends "page.html" %}

{% block content %}
<div class="container">
<div class="grid">
<div class="s-12 last">

<style>
	.flex-container {
		display: flex;
		flex-wrap: wrap;
	}

	.flex-item {
		width: 200px;
		height: 200px;
		margin: 5px;

		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.flex-image {
		width: 90%;
		object-fit: cover;
	}
</style>

<h2 class="small">Premium Sponsors</h2>
<div class="flex-container">
	{% for p in EVENT_PARTNERS['premium'] %}
	<center>
		<div class="flex-item">
			<a href="{{ p.1 }}" class="partner-link">
				<img src="{{ main_siteurl }}/theme/images/{{ p.2 }}"
					class="flex-image" alt="{{ p.0 }}" />
			</a>
		</div>
	</center>
	{% endfor %}
</div>

<h2 class="small">Gold Sponsors</h2>
<div class="flex-container">
	{% for p in EVENT_PARTNERS['gold'] %}
	<center>
		<div class="flex-item">
			<a href="{{ p.1 }}" class="partner-link">
				<img src="{{ main_siteurl }}/theme/images/{{ p.2 }}"
					class="flex-image" alt="{{ p.0 }}" />
			</a>
		</div>
	</center>
	{% endfor %}
</div>

<h2 class="small">Silver Sponsors</h2>
<div class="flex-container">
	{% for p in EVENT_PARTNERS['silver'] %}
	<center>
		<div class="flex-item">
			<a href="{{ p.1 }}" class="partner-link">
				<img src="{{ main_siteurl }}/theme/images/{{ p.2 }}"
					class="flex-image" alt="{{ p.0 }}" />
			</a>
		</div>
	</center>
	{% endfor %}
</div>

<h2 class="small">Bronze Sponsors</h2>
<div class="flex-container">
	{% for p in EVENT_PARTNERS['bronze'] %}
		<center>
		<div class="flex-item">
			
			<a href="{{ p.1 }}" class="partner-link">
				<img src="{{ main_siteurl }}/theme/images/{{ p.2 }}"
					class="flex-image" alt="{{ p.0 }}" />
			</a>
			
		</div>
		</center>
	{% endfor %}
</div>

<h2 class="small">Partners</h2>
<div class="flex-container">
	{% for p in EVENT_PARTNERS['partners'] %}
		<center>
		<div class="flex-item">
			<a href="{{ p.1 }}" class="partner-media-link">
				<img src="{{ main_siteurl }}/theme/images/{{ p.2 }}"
					class="image" alt="{{ p.0 }}" />
			</a>
		</div>
		</center>
	{% endfor %}
</div>


</div>
</div>
</div>
{% endblock %}
